<!-- The Grid -->
  <div class="w3-row">
   <!-- Left Column -->
    <div class="w3-col m3" ng-show="currentUser.userIsOnline =='ONLINE'">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" ng-show="currentUser.userIsOnline =='ONLINE'">
        <div class="w3-container">
         <h4 class="w3-center">{{currentUser.userName}}</h4>
         <p class="w3-center"><img src="resources/images/{{currentUser.userGender}}.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userAddress}}</p>
         <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userContactNumber}}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userDob|date}}</p>
         <p><i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userDescription}}</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Forums</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Blogs</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Friends</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
          
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      
      
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m9">
    
      
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"   ><br>
        <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{selectedforum.forumCreationDate|date}}</span>
        <h4>{{selectedForum.userId}}</h4><br>
        <hr class="w3-clear">
        <h4>{{selectedForum.forumName}}</h4>
        <p>{{selectedForum.forumDescription}}</p>
         <a ng-show="selectedBlog.blogStatus!='A' && currentUser.userRole=='ADMIN_USER'" href=""><button type="button" ng-click="ctrl.approveSelectedBlog(selectedBlog,selectedBlog.blogId)"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-check"></i> Approve</button> </a>
        <a ng-show="selectedBlog.blogStatus=='A' && currentUser.userRole=='ADMIN_USER'" href=""><button type="button" ng-click="ctrl.rejectSelectedBlog(selectedBlog,selectedBlog.blogId)"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-close"></i> Reject</button> </a>
        <a href=""><button type="button" ng-click="ctrl.likeSelectedBlog(selectedBlog,selectedBlog.blogId)"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> {{selectedBlog.blogCountLike}}Like</button> </a>
        <br>
        
        <form name="myForm" ng-show="selectedForum.forumStatus=='A' && (currentUser.userRole=='ADMIN_USER' || currentUser.userRole=='USER')">
		<textarea type="text" class="form-control" required placeholder="Write your comment here..." ng-model="ctrl.forumComment.forumComment" ></textarea>
		
		<br>
		
		<a href=""><button  type="button" ng-click="ctrl.createForumComment(ctrl.forumComment, selectedForum.forumId);"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-comments-o"></i> Comment</button> </a>
		</form> 
        
        
        
        
        
        
         
      </div>  
      
      
      
      
      
      
       <div class="w3-container w3-card w3-white w3-round w3-margin"  ng-repeat="forumComment in selectedForumComments"> <br>
        <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{forumComment.forumCommentDate|date}}</span>
        <h4>{{forumComment.userName}}</h4><br>
        <hr class="w3-clear">
        <p>{{forumComment.forumComment}}</p>
        
         
      </div> 
      
      
	
      
      
    <!-- End Middle Column -->
    </div>
    

    
  <!-- End Grid -->
  </div>
  
