<!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m7">
         .   
      
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m5" >
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Join Colab today!</h6>
			  <div ng-show='ctrl.user.errorMessage!=""'>
						<div class="alart alart-danger fade in">
							Error :	{{ctrl.user.errorMessage}}
						</div>
					</div>
					<fieldset>
						<legend>Sign Up*</legend>
						<div class="form-inner">
							<form ng-submit="ctrl.register()" name="myForm"
								class="form-horizontal">
								

								<div class="one-half">
									<input type="text" name="id"required 
										ng-minlength="5" placeholder="User ID"
										ng-model="ctrl.user.userId" class="form-control"/>
								</div>
								<br>
								<div class="one-half">
									<input type="text" name="name" required pattern=".{5,50}"
										ng-minlength="5" placeholder="User Name"
										ng-model="ctrl.user.userName" class="form-control" />
								</div>
								<br>
								<div class="one-half">
									<textarea rows="4" name="address" required 
										ng-minlength="5" placeholder="Address"
										ng-model="ctrl.user.userAddress" class="form-control">
										</textarea>
								</div>
								<br>
								<div class="one-half">
									<textarea rows="4" name="descriptioinhgfghdfuy" required 
										ng-minlength="5" placeholder="Description"
										ng-model="ctrl.user.userDescription" class="form-control">
										</textarea>
								</div>
								<br>
								<div class="one-half">
									<input type="password" name="password" required pattern=".{5,15}"
										ng-minlength="5" placeholder="Password"
										ng-model="ctrl.user.userPassword" class="form-control"/>
								</div>
								<br>
								<div class="one-half">
									<input type="email" name="email" id="email" required pattern=".{5,50}"
										placeholder="Email Id" ng-model="ctrl.user.userEmail" class="form-control"/>
								</div>
								<br>
								<div class="one-half">
									<input type="tel" name="phone" id="phone" required pattern=".{10}"
										placeholder="Phone No" ng-model="ctrl.user.userContactNumber" class="form-control"/>
								</div>
								<br>
								<div class="one-half">
									<input type="date" name="dob" id="dob" 
										placeholder="Phone No" ng-model="ctrl.user.userDob" class="form-control"/>
								</div>
								<br>
								<div class="one-half">
									<input type="radio" name="gender" id="gender" value="male"
										ng-model="ctrl.user.userGender" > Male 
									<input type="radio" name="gender" id="gender" value="female"
										ng-model="ctrl.user.userGender" > Female
								
								
										<button type="button" class="w3-button w3-theme btn kp-button" value="register" ng-click="ctrl.reset()"><i class="fa fa-refresh"></i> Reset form</button>
										<button type="submit" class="w3-button w3-theme btn kp-button" value="register"><i class="fa fa-user-plus"></i> Register</button>
								</div>
							</form>
						</div>
					</fieldset>

              
               
            </div>
          </div>
        </div>
      </div>
      
      
      
    <!-- End Middle Column -->
    </div>
    
    
      
    
    
  <!-- End Grid -->
  </div>
  
