<!-- The Grid -->
  <div class="w3-row">
 <!-- Left Column -->
    <div class="w3-col m3" ng-show="currentUser.userIsOnline =='ONLINE'">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" ng-show="currentUser.userIsOnline =='ONLINE'">
        <div class="w3-container">
         <h4 class="w3-center">{{currentUser.userName}}</h4>
         <p class="w3-center"><img src="resources/images/{{currentUser.userGender}}.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userAddress}}</p>
         <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userContactNumber}}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userDob|date}}</p>
         <p><i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.userDescription}}</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Forums</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Blogs</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Friends</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
          
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      
      
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m9">
    
      <div class="w3-row-padding"  ng-show="currentUser.userRole=='ADMIN_USER'">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
            	<form ng-submit="ctrl.submit()" name="myForm" >
              <h6 class="w3-opacity">Create Job</h6>
              <input type="text" name="prfile" required pattern=".{1,25}"
				placeholder="Job prfile" ng-model="ctrl.job.jobProfile" class="form-control">
				<br>
				<textarea class="form-control" name="content" 
				placeholder="Job qualification ..." ng-model="ctrl.job.jobQualification" ></textarea>
				<br>
				<textarea class="form-control" name="content" 
				placeholder="Description ..." ng-model="ctrl.job.jobDescription" ></textarea>
				<br>
              
              <button type="submit" class="w3-button w3-theme" ><i class="fa fa-pencil"></i>Post </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      <div ng-repeat="job in ctrl.jobs" ng-show="currentUser.userRole == 'USER' && job.jobStatus=='A'">
      <div class="w3-container w3-card w3-white w3-round w3-margin" ><br>
        <img src="resources/images/job.png" alt="Avatar" class="w3-left  w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{job.jobPostDate|date}}</span>
        <h4>Job Profile: {{job.jobProfile}}</h4><br>
        <hr class="w3-clear">
        <h4>Qualification: {{job.jobQualification}}</h4>
        <p>Description: {{job.jobDescription}}</p>
        <a href=""><button type="button" ng-click="ctrl.apply(job,job.jobId)"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-briefcase"></i> Apply</button> </a>
       
         
      </div>  
      </div>
      
       <div ng-repeat="job in ctrl.jobs" ng-show="currentUser.userRole == 'ADMIN_USER'">
      <div class="w3-container w3-card w3-white w3-round w3-margin" ><br>
        <img src="resources/images/job.png" alt="Avatar" class="w3-left  w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{job.jobPostDate|date}}</span>
        <h4>Job Profile: {{job.jobProfile}}</h4><br>
        <hr class="w3-clear">
        <h4>Qualification: {{job.jobQualification}}</h4>
        <p>Description: {{job.jobDescription}}</p>
        <a href=""><button type="button" ng-click="ctrl.listJobApplications(job.jobId)"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-users"></i> View Applicants</button> </a>
       
         
      </div>  
      </div>
      
      
      
      
      
	
      
      
    <!-- End Middle Column -->
    </div>
    
       
  <!-- End Grid -->
  </div>
  
